.landing {
    text-align:center;
}
#content{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    border: 3px solid green; 
}
#leaderboard{
    height: 800px;
    width: auto ;
    border: 3px solid green; 
    color: white;
    text-align: left;
}
#app{
    /* background-color: rgb(10, 85, 79); */
    position: absolute;
    height: 99%;
    width: 99%;
}
#game{
    
    background-color: rgb(217, 255, 0);
    margin-left: center;
    height: auto;
    width: auto;
    border: 3px solid green; 
}

.md-list {
    width: 320px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(#000, .12);
  }
