.landing {
    text-align:center;
    padding-top: 1%;
}
#content{
    display: flex;
    justify-content: space-between;
    padding-top:2%
}
#leaderboard{
    height: 800px;
    width: auto ;
    text-align: left;
    opacity: 0.95;
    overflow-y: auto;
}
#app{
    position: absolute;
    height: 100%;
    width: 100%;

}
#game{
    
    margin-left: center;
    height: auto;
    width: auto;
}
